#interface { width: 304px;
            }
@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon/icomoon.eot');
    src:url('../fonts/icomoon/icomoon.eot?#iefix') format('embedded-opentype'),
    url('../fonts/icomoon/icomoon.woff') format('woff'),
    url('../fonts/icomoon/icomoon.ttf') format('truetype'),
    url('../fonts/icomoon/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* General button style (reset) */
.btn {
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: url('https://img.icons8.com/metro/26/000000/speaker.png'), auto;
    padding: 25px 80px;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

/* Pseudo elements for icons */
.btn:before,
.icon-heart:after,
.icon-star:after,
.icon-plus:after,
.icon-file:before {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    position: relative;
    -webkit-font-smoothing: antialiased;
}

/* Button 2 */
.btn-2 {
    background: #cb4e4e;
    color: #fff;
    box-shadow: 0 6px #ab3c3c;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    padding: 0;
}


.btn-2:hover {
    box-shadow: 0 4px #ab3c3c;
    top: 2px;
}

.btn-2:active {
    box-shadow: 0 0 #ab3c3c;
    top: 6px;
}
.btn-3 {
    background: #17954c;
    color: #fff;
    box-shadow: 0 6px #138041;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    padding: 0;
}


.btn-3:hover {
    box-shadow: 0 4px #138041;
    top: 2px;
}

.btn-3:active {
    box-shadow: 0 0 #138041;
    top: 6px;
}
.btn-4 {
    background: #226fbe;
    color: #fff;
    box-shadow: 0 6px #195491;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    padding: 0;
}


.btn-4:hover {
    box-shadow: 0 4px #195491;
    top: 2px;
}

.btn-4:active {
    box-shadow: 0 0 #195491;
    top: 6px;
}
.btn-1 {
    background: #da9622;
    color: #fff;
    box-shadow: 0 6px #ba8120;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    padding: 0;
}


.btn-1:hover {
    box-shadow: 0 4px #ba8120;
    top: 2px;
}

.btn-1:active {
    box-shadow: 0 0 #ba8120;
    top: 6px;

